.build-page{ overflow:hidden;}
/*Grid Settings */
#build-page-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 1fr; 
  outline: 2px solid black!important;
  height:100dvh;
  max-height: 100dvh;
  width: 100%;
  max-width: 100%;
  margin:0;
  align-self:center;
  overflow-x: hidden;
  box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.5); 
  background: linear-gradient(to right, var(--color-orange-main), gray);
}
@media(max-width:650px){
  #build-page-grid {width:100%; border-radius: 0px;}
}
@media(min-width:650px){
  #build-page-grid {grid-template-rows: 25% 1fr; }
}
@media(orientation: landscape){
  #build-page-grid {grid-template-rows: 60% 1fr; }
}
@media(min-width:1024px){
  #build-page-grid {
    grid-template-columns: 65% 1fr;
    grid-template-rows: 100%;
    width: 98%;       /* was 99vw */
    max-width: 98%;   /* was 99vw */
    height: 95dvh;
    max-height: 95dvh;
    margin: 2.25vh auto;
    border-radius: 8px;
  }
}

@media(min-width:2500px){
   #build-page-grid {
    grid-template-columns: 74% 1fr;
   }
}
@media(min-width:3600px){
   #build-page-grid {
    grid-template-columns: 80% 1fr;
   }
}
@media(min-height:1080px) and (max-width:1024px) {/*Ipad pro like devices*/
  #build-page-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 1fr; 
    outline: 2px solid black!important;
    height:100dvh;
    max-height: 100dvh;
    width: 100%;
    max-width: 100%;
    margin:0;
    align-self:center;
    overflow-x: hidden;
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, var(--color-orange-main), gray);
  }
  /* #build-page-grid {grid-template-rows: 33% 1fr; } */
}

#door-section{
  width:100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap:0em;
  /* border:2px solid red; */
  overflow:hidden;
  /* padding:1em; */
  border-bottom:4px solid black;
  box-shadow: 0px 3px 7px 5px rgba(0, 0, 0, 0.5);
  position:relative;
}
@media (min-width:1024px) {
  #door-section {
    box-shadow:none;
     row-gap:1em;
      justify-content:center;
  }
}
@media (max-width:400px){#door-section > h1{ font-size:1.5em; }}
@media(min-width:1024px) {#door-section{border-bottom: 0;}}
@media(min-height:1080px) and (max-width:1024px){#door-section{border-bottom:4px solid black;}}/*Ipad pro like devices*/
#img-div{
  height:65%;
  width:auto;
  max-width:95%;
  position:relative;
  /* margin-top:1em;   */
  transition:0.1s;
}
@media(min-width:1025px){
  #img-div{  margin-top:15px;}
}

#share-icon-container{
  z-index:1;
  position:absolute;
  width:1.5em;
  height:1.5em;
  /*top:1px;
  right:-37px; */
  transition:0.2s;
  cursor:pointer;
  border-radius: 8px;
  background-color: rgba(255,197,51,1);/*var(--color-yellow);*/
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
  outline:2px solid black
}
@media(max-width:1024px){
  #share-icon-container{
    bottom:-5px;
    left:-15px;
  }
}
#share-icon-container.isDesktop{
  width:2.25em;
  height:2.25em;
  top:-45px;
  /* top:-15px;*/
  right:-15px; 
;}
#share-icon-container:hover{
  transform:scale(1.05);
  transition:0.2s;
  cursor:pointer;
}
#share-icon{
  position:absolute;
  top:45%;
  right:45%;
  transform: translate(50%,-50%);
  width:80%;
}
#share-text{
  position:absolute;
  top:50%;
  right:150%;
    transform:translateY(-50%);
  /* top:-70%;
  right:20%; */
}
#zoom-in-icon{
  position:absolute;
  right:-17px;
  bottom:-7px;
  background-color: var(--color-orange-main);
  border-radius: 50%;
  opacity:1;
  height:1.75em;
  width:1.75em;
  cursor:pointer;
  overflow: hidden;
  z-index:1;
  border:2px solid black;
}
@media (max-width:350px){
   #img-div{
    height:55%;
    max-width:80%;
  }
  #share-icon-container{
    /* right:-32px;
    width:1.45em; */
  }
}
@media(min-width:1024px){
  #zoom-in-icon{
    width:2.5em;
    height:2.5em;
    /* right:-2%;
    bottom:-5%; */
  }
}
@media(min-width:1024px){
  #img-div{  height:30%;max-height:500px;}
}
@media(min-width:1080px){
  #img-div{  height:40%;max-height:600px;}
}
@media(min-width:1024px) and (height:1366px) {/*Ipad pro like devices*/
  #img-div{  height:75%;max-height:650px;}
}
@media(min-width:1300px) and (max-height:1020px){
   #img-div{ height:60%;max-height:800px;}
}
@media(min-width:1300px) and (min-height:900px){
   #img-div{  height:40%;max-height:800px;}
}
@media(min-width:1300px) and (min-height:1081px){
  #img-div{  height:45%;max-height:800px;}
}
@media(min-width:1700px){
  #img-div{  height:47%;max-height:900px;}
}
@media(min-width:3600px){
  #img-div{
    height:70%;max-height:1200px; 
  }
}
#img-div > #door-img,#img-div > #first-load-img{
  width:auto;
  max-width:100%;
  height:100%;
  
}
#img-div > #door-img:hover{
  transform:scale(1.01);
  transition:0.2s;
  outline:2px solid black!important;
  cursor:pointer;
}
#door-img:not(.page-loading-style){
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.7);
}
#img-div > #door-img.page-loading-style {
  box-shadow: none !important;
  background: transparent;
}
#img-div > #loading-img{
  position:absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%,-50%);
  height:75%;
  z-index:1;
}

#options-section {
  display:flex;
  flex-direction:column;
  align-items: center;
  width:100%;
  overflow-y: auto;  
  overflow-x:hidden;
  row-gap:1em;
}
#options-section > *{
  padding: 0.25rem 1rem 1rem 1rem;
  width:100%;
  border:2px solid black; 
  border-radius:16px;
  max-width:600px;
  margin:0 auto!important;
}
/* @media(min-width:1920px){
  #options-section {align-items:flex-end}
  #options-section > *{margin-right:0px!important;;}
} */
#options-section > #door-name-header{
  /* background-color: transparent; */
  margin-top:10px!important;
  opacity:1;
  box-shadow:none;
  padding:0.25em;
}

@media(max-width:660px){
  #options-section > *{
    width:95%;
  }
}
#options-section > :first-child{
  margin-top:0.5rem!important;
}
#options-section > :last-child{
  margin-bottom:0.5rem!important;
}
#options-section > :nth-child(odd){
   background: linear-gradient(to right, var(--color-orange-light),var(--color-orange-main));
}
#options-section > :nth-child(even){
  background: linear-gradient(to right, var(--color-orange-main),var(--color-yellow));
}

/*Grid Settings */

/*Size Option*/
#size-container{
  /* width:100%; */
  display:flex;
  flex-wrap:wrap;  
  justify-content: center;
  row-gap:0.75em;
  column-gap:2em;
}
@media(max-width:400px){
  #size-container{column-gap: 0.5em;}
}
@media(min-width:1325px){
  #size-container{column-gap: 4em;}
}

#size-container h2{margin-bottom:0;flex-basis:100%;}
.size-box{
  flex:0 1 auto;
  border-radius:8px;
  transition:0.2s;
  width:auto;
  margin:0;
}
#size-container h3{
  margin-bottom:0.25em;
}
.size-box > img{
  max-height:90px;
  cursor:pointer;
  width:auto;
  margin:0 auto;
}
.size-box > img:hover{
  outline:3px solid black!important;
}
.size-box > img.selected-size{
  outline:3px solid red!important;
}
/*Size Option*/

/* Design Option */
#design-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:2em;
  margin:0;
  padding-right:0.5em;
  padding-left:0.5em;
}
#design-container h2{margin:0;flex-basis:100%;}

.design-box{
  flex:1 1 auto;
  max-width:min(220px,50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0;
}

#design-container.hardware-container{
  padding:0.5em 0.25em;
  padding-right:0.25em;
  padding-left:0.25em;
  gap:0em;
  justify-content: space-around
}
#hardware-toggle{
  display:flex;
  align-items: center;
  justify-content: center;
  column-gap:0.5em;
  margin-bottom:0em;
  width:100%;
  /* padding:0;
  padding:0.5em 0; */
}
#hardware-toggle > h2{flex-basis:0%;}
#hardware-toggle > input{
  width:1.75em;
  height:1.75em;
  cursor:pointer;
}
#hardware-box{
  flex:1 1 auto;
  max-width:47%
}
#hardware-box > h3{
  font-size:1.5em;
}
@media(min-width:1024px){
  #design-container.hardware-container{
  justify-content: center;
  column-gap:0.75em;
}
  #hardware-box > h3{ font-size:1.2em;}
}
@media(min-width:1300px){
  #hardware-box > h3{ font-size:1.5em;}
}
#hardware-box>img:not(.selected-hardware):hover{
 outline:3px solid black!important;
  border-radius: 12px;
  cursor:pointer;
}
.selected-hardware{
    outline:3px solid red!important;
      border-radius: 12px;
}
 #hardware-box > h3{
  margin-top:1.5em;
  margin-bottom:0.15em;
 }
@media(max-width:400px){
  #hardware-box > h3{font-size:1.15em}
}
.design-box h3{flex:1;margin-bottom:0.25em;width:100%;}
.design-box img{  cursor: pointer;width:100%;height:auto;}
.design-box #design-img:not(.selected-design):hover{outline:3px solid black;}

.design-box-small{
  flex:0 1 28%;
  min-width:75px;
}
#design-container.motor-container{
  row-gap:1em;
  justify-content: space-around;
}
#motor-box{
  margin:0;
  flex:1 1 auto;
  min-width:75px;
  max-width:min(44%,200px);
}
#motor-box>img{
  margin-bottom:0em;
   box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
   border-radius:8px;
}
#motor-box>a{
  padding-top:0.5em;
}
#motor-box> img:not(.selected-motor):hover{
  outline:3px solid black!important;
  border-radius: 8px;
  cursor:pointer;
}
@media(max-width:400px){
  #design-container.motor-container{
  row-gap:0.25em;
  gap:1em;
  justify-content:center;
}
  #motor-box{max-width:45%;}
}
@media(max-width:374px){
  #motor-box > h5{
    font-size:1.1em;
  }
}
.selected-motor{
  outline:3px solid red!important;
  border-radius: 8px;
}
#motor-box > h5{
  min-height:48px;
  min-width:120%;
  text-align: center;
}
/* Design Option */

/* Insulation Option */
#insulation-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1em;
  column-gap: 1em;
}
#insulation-container > h2{flex-basis:100%;}
.insulation-box {
  flex-shrink:0;
  display: flex;
  flex-direction: column; 
  align-items: center;
  row-gap: 0.5em;
  margin: 0;
  width:9em;
  /* outline: 2px solid black; */
}
.insulation-box>img{transition: 0.2s;}
.insulation-box:not(.void-box) > img:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: 0.2s;
}
.insulation-box >h3{
  flex-basis:auto;
}
.insulation-header {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 0.4em; 
  text-align: center;
  align-self:center;
  width: 100%;
  font-size:1.5em;
}
.insulation-dialog-btn {
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
  font-size: 0.7em;
  line-height: 1;
}
.insulation-dialog {
  background-color: var(--color-orange-dark);
  outline:2px solid black!important;
  border-radius:8px;
  position: absolute;   
  margin: 0;  
  font-size:0.6em;
  font-weight:600;
  padding:0.25em;
  min-width: 13em;
  white-space: nowrap;
  top: 110%; 
  z-index: 10;
}
#ins-premium-dialog{
  right:0%;
}
@media(min-width:500px){
  .insulation-dialog {font-size:0.75em;}
}
@media (min-width:1025px){
#ins-premium-dialog{right:0;}
#ins-standard-dialog{left:0;}
}
.insulation-dialog > button{ font-size:0.6em;}
.insulation-box > img {
  width: 100%; 
  height: auto;
  max-width:120px;
  outline: 2px solid black!important;
}
.insulation-box img.selected-ins {
  outline: 3px solid red!important;
  transform:scale(1.05)
}
.insulation-dialog-btn:hover{
  background-color: var(--color-orange-main);
}
.void-box{opacity:0.4;}
/* Insulation Option */

/* Colors Option*/
#colors-container{
 margin:0;
padding-right:0.2em;  padding-left:0.2em;
}

#colors-container > div{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
  column-gap:2px;
  row-gap:2px;
  /* border-bottom:2px solid black; */
  /* padding:1rem 0 1rem; */
}
#colors-container > div > h2{width:100%;margin-bottom:0em;}
#colors-container > div:not(:last-of-type) {
  margin-bottom: 1rem; /* Add spacing between color and woodtone containers */
}
#colors-container > div:last-of-type {
  /* border-bottom: 2px solid black; */
}
.color-box {
  flex: 0 0 32%;
  max-width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 2px solid black!important; 
  margin:0;
  min-height: max-content; 
  overflow: hidden;
}
.color-box > h5{
  padding-top:5px;
  flex: 0 0 35px;   
  font-size: 1.15em;
}
.color-box.woodgrain > h5{
    flex: 0 0 55px;
}
.color-box.two-toned > h5{
    flex: 0 0 55px;
}
.color-box.use-img-header > h5{
    flex: 0 0 55px;
}
@media(max-width:450px){
  .color-box > h5{
    font-size:0.9em;
      flex: 0 0 45px;  
  }
}
.color-box > div,.color-box>img { /* color circle */
  flex: 0 1 auto;    
  width: 80%;          
  aspect-ratio: 1;     
  border-radius: 50%;
  transition: 0.2s;
  box-shadow: 4px 6px 5px 5px rgba(0,0,0,0.5);
  cursor: pointer;
  margin-bottom: 1rem;
  background-position: center center;
}

/* Colors*/

/*Windows*/
#windows-container{/*Section For Checkbox, glass, inserts etc.*/
  display:flex;
  /* width:100%; */
  flex-direction:column;
  row-gap:1em;
}
#windows-checkbox-label{
  display:flex;
  /* width:100%; */
  align-items:center;
  justify-content: center;
  column-gap:1rem;
  padding:0.25em 0 0.5em;
}
#window-positions{
  margin:0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  border-bottom: 2px solid black;
  padding-bottom:1em;
}
#window-positions > *{
  text-align:center;
}
#window-positions > h2{width:100%;}
.position-box{
  display:flex;
  flex-direction:column;
  flex:0 1 auto;
  gap:1em;
  border-radius: 10%;
  width:45%;
  transition:0.2s;
  margin:0;
}
@media(min-width:500px)and (max-width:1024px){
  .position-box{width:30%}
}

.position-box > img{
  min-width:100px;
  min-height:60px; 
  width:65%;
  height:auto;
  margin:0 auto
}
.position-box > img:hover{outline:2px solid black!important;}
.selected-position{
  outline:3px solid red!important;
  transform:scale(1.05);
}
#glass-type{width: 100%;}
#glass-type h2{
  display: flex;
  justify-content: center;              
}
#windows{/*Actual glass selection box*/
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  gap:2em;
  width:100%;
  padding:0.25em;
}
#windows > div{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
  gap:2em;
  padding-bottom:1em;
  /* border-bottom: 2px solid black; */
}
#windows > h2  {
  display:flex;
  justify-content: center;
  width:100%;
  border-top: 2px solid black;
  padding-top:0.5em;
}
#windows > div> h3{text-align: center;width:100%;position:relative;}
#aluminum-glass-note{
  font-size:0.65em;
  text-align: center;
  margin:0;
  padding:0;
}
#aluminum-glass-note a {
  margin-right: 0.25em;
}
.window-box{
  display:flex;
  flex-direction:column;
  justify-content: center;
  row-gap:1em;
  width:35%;
  aspect-ratio: 1;
  max-width:180px;
  border-radius: 10%;
  outline:2px solid black!important;
  transition:0.2s;
  cursor:pointer;
  margin:0;
}
.window-box > h5{
  flex: 0 0 auto;  /* fixed height */
  margin-top:0.5em;
}
.window-box > div{/*Actual Window image*/
width:100%;
flex:1 1 0;
border-radius: 10%;
transition:0.2s; 
box-shadow: 4px 4px 5px 5px rgba(0,0,0,0.5);
}

/*Window Inserts*/
#inserts{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  column-gap:1.5em;
  row-gap:1em;
}
#inserts h2{flex-basis:100%;}

.insert-box{
  display:flex;
  flex-direction:column;
  row-gap:1em;
  width:40%;
  border-radius: 10%;
  transition:0.2s;
  margin:0;
}
@media(min-width:600px) and (max-height:900px){
  .insert-box{
    width:40%;
  }
}
@media(max-width:374px){
  .insert-box{
    width:45%;
  }
}
.insert-box > h5{flex:1 0 auto}
.insert-box > div{/*Actual insert image*/
  height: clamp(40px, 10vw, 120px);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  width:100%;
  aspect-ratio: 1;
  transition:0.2s;
  outline: 3px solid black;
}
 @media (min-width:1024px) and (max-width:1899px){.insert-box >div {height:3.75vw}} 
@media (min-width:1024px) and (height:1366px){.insert-box >div {height:6.75vw}} 
 @media (min-width:1500px){.insert-box >div {height:4vw}} 
/*Windows*/

#options-section > #btns-panel{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  gap:0em;
  padding:0em 0.5em;
  min-width:300px;
  background-color: none;
  background:none;
  outline:none;
  border:none;
}
#door-section > #btns-panel{
   padding:0;
}
#btns-panel #discount-text{
 margin-bottom:0.5em;
}
@media(min-width:1024px){
  #btns-panel{width:75%;}
  #btns-panel #discount-text{
    margin-top:0.5em;
}
}
#discount-text > a{
  color: var(--color-doorgi-red);
  text-decoration: underline;
}
/* .btns  button{font-weight:600}
.btns > a:first-child{width:25%;margin-left:0.25em;}
.btns > a:last-child{width:50%;}
.btns > button:first-child{width:35%;}
.btns > button:last-child{width:60%;} */

.back-btn{
  background-color:var(--color-yellow);
  color:black;
  margin:0.25em 0 0;
  width:100%;
  margin:0;
}
.reset-btn{
  width:35%;
  font-weight:600;background-color:var(--color-orange-dark)
}

.home-btn.unavailable {
  background-color: var(--color-orange-dark);
}
.continue-btn{/*ORder button*/
  background-color:var(--color-doorgi-red);
  color:white;
  margin:0.25em 0 0;
  width:70%;
  max-width:350px;
  margin:0;
  margin-right:0.25em;
}
.back-btn:hover{
  background-color: var(  --color-orange-dark);
  transform:scale(1.02);
  transition:0.1s;
}
.continue-btn:hover{
  background-color: var(  --color-grey);
  transform:scale(1.02);
  transition:0.1s;
}
.reset-btn:hover{
background-color: var(--color-grey);
}
/*hover and  selection styles*/
.selected {/*General selector*/
  outline:3px solid red!important;
  transform:scale(1.05);
}
.selected-color{
     transform: (1.02);
  color:red
}
.color-box > div:hover,.color-box>img:hover{
  transform:scale(1.05);
  transition:0.2s;
}
.selected-glass-type{
  transform: (1.02);
  color:red
}
.window-box:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.window-box.selected-glass {
  transform: scale(1.1); /* keep the box enlarged */
}
.window-box.selected-glass > div {
  transform: scale(1.02); /* extra boost only for the actual window icon*/
  outline:3px solid red;
  transition: 0.1s;
}
.insert-box > div:hover{
  transform: scale(1.05);
  transition:0.2s;
   cursor:pointer;
}
.selected-design{
  transform:scale(1.015);
  outline:3px solid red;
}
.insert-box > div.selected-insert{
  transform:scale(1.05);
  outline: 3px solid red;
}

/*hover and  selection styles*/

/*Loading Animation*/
@keyframes loadingDoor {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    opacity: 0.7;
    transform: translate(-50%, -50%) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes loadingPage {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform:scale(1);
  }
}
#loading-img{border-radius: 16px;}
.page-loading-style {
  animation:  loadingPage 1.5s ease-in-out infinite;
  outline:0px;
  border-radius: 16px;
}
.loading-style {
  animation: loadingDoor 1.5s ease-in-out infinite;
  outline:0px;
  border-radius: 16px;
}
@keyframes wave {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-3px); }
}
#door-section .price-header{
  /* display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
  flex-wrap:wrap; */
  line-height:1;
  padding-bottom:0px;
  padding-top:5px;
  margin-top:0px;
}
@media ((hover: hover) and (pointer: fine)) or (min-width:1023px){ 
  #door-section .price-header{
  padding:0;
  padding-top:5px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
  flex-wrap:wrap;
  }
} 

 #options-section .price-header{
  display:flex;
  justify-content: center;
  align-items: center;
  height:80px;
  min-height:80px;
  text-align: center;
  padding:5px;
}
@media(max-width:370px){
  #options-section .price-header{
    font-size:1.5em;
  }
}
.wave span {
  display: inline-block;
  animation: wave 0.9s infinite ease-in-out;
}

.wave span:nth-child(1) { animation-delay: 0s; }
.wave span:nth-child(2) { animation-delay: 0.1s; }
.wave span:nth-child(3) { animation-delay: 0.2s; }
.wave span:nth-child(4) { animation-delay: 0.3s; }
.wave span:nth-child(5) { animation-delay: 0.4s; }
.wave span:nth-child(6) { animation-delay: 0.5s; }
.wave span:nth-child(7) { animation-delay: 0.6s; }
.wave span:nth-child(8) { animation-delay: 0.7s; }
.wave span:nth-child(9) { animation-delay: 0.8s; }
.wave span:nth-child(10) { animation-delay: 0.9s; }

/*Loading Animation*/


#additional-estimates-section {
  display:flex;
  flex-direction: column;
  row-gap:0.5em;
}
.flex-row{
  width:100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}
.input-div{
  display:flex;
  align-items: center;
  column-gap: 0.5em;
  margin:0;
}
.input-div > input{
  width:1.75em;
  height:1.75em;
  cursor:pointer;
}
#installation-label, #perimeter-seal-label, .additional-option-price {
  font-size: 1.2em;
}
@media (max-width:374px){
  #installation-label, #perimeter-seal-label, .additional-option-price {
    font-size: 1.1em;
  }
}
@media(min-width:1180px){
  #installation-label, #perimeter-seal-label, .additional-option-price {
    font-size: 1.5em;
  }
}
#img-dialog-overlay {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100dvw;
  height: 100dvh; 
  background-color: rgba(0, 0, 0, 0.8); 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  z-index: 1000; 
}

#img-dialog-overlay > #img-dialog { 
  width: auto; 
  height: auto; 
  max-width: 100svw; 
  max-height: 70svh; 
  min-height:200px;
} 
@media(max-width:374px){
  #img-dialog-overlay > #img-dialog { 
    min-height:175px;
  }
}
@media( hover: hover) and (pointer: fine)  or (min-width:1023px){
  #img-dialog-overlay > #img-dialog:hover {
    transform:scale(1.45);
  }
}
@media (orientation: landscape) { 
  #img-dialog-overlay > #img-dialog {
     max-width: 95svw; 
     max-height: 90svh; 
    transform:none;
  } 
}

#clipboard-copy{
  position:fixed;
  z-index:100;
  top:45%;
  transform:translateY(-50%);
  left:50%;
  transform:translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1.2em;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  opacity:0;
  display:flex;
  align-items: center;
  gap:1em;
  font-size:24px;
}
#clipboard-copy > img{
  width:50px;
  height:auto;
}
#clipboard-copy.make-visible{
  opacity:1;
}
